html::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

code {
  font-family: "Courier New", Courier, monospace;
}

.anchor{
  text-decoration: none;
  color: white;
}

/* unvisited link */
.anchor:link {
  color: white;
}

/* visited link */
.anchor:visited {
  color: white;
}

/* mouse over link */
.anchor:hover {
  text-decoration: none;
  color: orange;
}

/* selected link */
.anchor:active {
  color: white;
}
