Canvas {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
}

.home-section {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.overlay-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
}

.overlay-content-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: center;
    text-align: center;
    color: white;
    font-size: 40pt;
    font-family: "Courier New", Courier, monospace;
    font-style: oblique;
    font-weight: bold;
}
