.w-content {
    height: 100vh;
    width: 100vw;
    background-color: #e5e5e5;
}

.work-content {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-52%, -25%);
    width: 70%;
    height: 60%;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction-text {
    font-size: 10pt;
    font-family: "Courier New", Courier, monospace;
}

.ripple {
    background-position: center;
    transition: background 0.2s, all 0.2s ease-in-out;
}

.ripple:hover {
    background: #2d92c4 radial-gradient(circle, transparent 1%, #2d92c4 1%) center/15000%;
    transform: scale(1.1);
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

@media (max-width: 575.98px) {
    .work-card {
        width: 100%;
        height: 60px;
        text-align: center;
        overflow: hidden;
        margin-bottom: 0;
    }
    .card-content {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: auto;
        margin-top: auto;
    }
    .img-width{
        width: 20px;
    }
    .img-centering {
        margin-top: -10px;
    }
}

@media (min-width: 576px) {
    .work-card {
        width: 100%;
        height: 60px;
        text-align: center;
        overflow: hidden;
        margin-bottom: 0;
    }
    .card-content {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: auto;
        margin-top: auto;
    }
    .img-width{
        width: 20px;
    }
    .img-centering {
        margin-top: -10px;
    }
}

@media (min-width: 768px) {
    .work-card {
        width: 100%;
        height: 150px;
        text-align: center;
    }
    .card-content {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: auto;
        margin-top: auto;
    }
    .img-width{
        width: 45px;
    }
    .img-centering {
        margin-top: 10px;
    }
}

@media (min-width: 992px) {
    .work-card {
        width: 100%;
        height: 175px;
        text-align: center;
    }
    .card-content {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: auto;
        margin-top: auto;
    }
    .img-width{
        width: 45px;
    }
    .img-centering {
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .work-card {
        width: 100%;
        height: 220px;
        text-align: center;
    }
    .img-centering {
        margin-top: 50px;
    }
}
